@mixin button-bg-slide(
  $left,
  $width,
  $height,
  $radius,
  $transform-origin,
  $bg-color
) {
  transition: all 1s cubic-bezier(0.68, 0.55, 0.265, 1);
  background-color: $bg-color;
  border-radius: $radius;
  content: "";
  left: $left;
  bottom: 0;
  width: $width;
  height: $height;
  position: absolute;
  transform: scaleX(0);
  transform-origin: $transform-origin;
  z-index: -1;
  opacity: 0.05;
}

.searched-films-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  &-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.searched-film {
  width: min(100%, 800px);
  display: flex;
  &__poster {
    width: 100px;
    height: 150px;
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__content {
    margin-bottom: auto;
    text-align: center;
  }
  &__nominate-btn {
    position: relative;
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: transparent;
    border: 0;
    font-size: 0.75em;
    border: 2px solid pink;
    font-weight: 600;
    padding: 0.3em 1em;
    color: pink;
    &:hover,
    &:focus {
      &::before {
        opacity: 1;
        transform: scaleX(1);
      }
    }
    &:active {
      transform: none;
      &::before {
        transition: transform 0.1s ease-in-out;
        transform: scaleX(0);
      }
    }
    &::before {
      @include button-bg-slide(
        0,
        calc(100%),
        100%,
        var(--border-radius),
        left,
        purple
      );
    }
  }
}
