.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .section {
    flex-basis: 100%;
}



@media screen and (min-width: 768px) {
    .main {
        flex-direction: row;
    }

    .main .section {
        flex-basis: 100%;
    }

    .main .section.film-search {
        flex-basis: 50%;
    }
}